html, body {
	height: 100%;
}

#tmb-body {
	margin: 0;
}

#tmb-top-bar {
	height: 0px;
	background-color: #aaa;
}

#tmb-container {
	position: relative;
	height: 100%;
}

#tmb-side-bar {
	color: #000;
	height: 100%;
	width: 350px;
	border-right: 1px solid #000;
	background-color: #eee;
	float: left;
}

#tmb-side-bar form {
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #000;
}

#tmb-side-bar form h3 {
	margin: 10px 15px;
}

#tmb-panel {
	margin-left: 351px;
}

#tmb-control-bar {
	height: 120px;
	background-color: #ccc;
	border-bottom: 1px solid #000;
}

#tmb-preview {
	background-color: #fff;
	overflow-y: auto;
}