h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

a {
	color: #BA100E;
}

a:hover {
	color: #EE1212;
}

a:active {
	color: #A10C0C;
}

a:visited {
	color: #8F0B0B;
}

.header h1 {
	color: #247999;
}

.header .banner.small {
	background-color: #555;
	color: #fff;
}

.header .banner.small h3 {
	color:;
}

.post .post-header {
	color: #BA100E;
	border-bottom: 1px solid #000;
}

.post .post-header h1, .post .post-header h1 a {
	color: #BA100E;
}

